<div class="contact">
	<h2>Contact Us! We want to hear from you!</h2>
	<p>
  	<ul>
  		<li>Phone: 	(+49 30) 902 77 31 01</li>
  		<br>
  		<li>Email:  Bikes@bikeberlin.com</li>
  		<br>
  		<li>Address: Warschauer Pl. 18, 10245 Berlin, Germany</li>
  	</ul>
  </p>
</div>

<br>