<div class="container" id="container-order">

<h2>orders</h2>
  <p>The info of order</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>product id</th>
        <th>total</th>

      </tr>
    </thead>
      <tr>
        <td><%= @order.product_id %></td>
        <td><%= @order.total %></td>
        <td><%= link_to 'Back', orders_path %></td>
      </tr>
  </table>
</div>
