<h2>About Us</h2>
<p>Welcome to B-A-B, your best source for premium used bikes. We pride ourselves in finding the right bike for you and get it tuned and correctly setup for you. We take great pride in our work and your referrals are the greatest compliment. This site should answer most questions about our business and help you navigate the perilous waters of finding that perfect bike.</p>
<br>
<p>The right bike, the right clothing or tips for self-help .... B-A-B informs competently on all topics around cycling and cycling.</p>
