<div class="contact">
	<h2>Contact Us! We want to hear from you!</h2>
	<div class="center">
  <p>
    <ul>
  		<li>Phone: 	(919)885-BIKE</li>
  		<br>
  		<li>Email:  sorebutts@babikes.com</li>
  		<br>
  		<li>Address: 19320 52nd Ave, New York</li>
  	</ul>
  </p>
  </div><!--end Center div-->
</div><!--end Contact Div-->

<br>