<h1>Welcome to Big Apple Bikes</h1>
<h2>Your source for new and premium used bikes in New York City</h2>

<br>

<div class="container">
	<div class="row">
		<div class="col-md-6"> <%= image_tag("citybike.jpg", class: "img-responsive") %> </div>
		<div class="col-md-6"> <%= image_tag("girlbike.jpg", class: "img-responsive") %> </div>
	</div><!--end row-->
</div><!--end container-->