// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.equal {  
    display: -webkit-flex;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .col { 
        display: block;
        width: 100%;
    }
}